name: Integration Test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Self test
        id: selftest

        uses: ryan-rozario/pipreqs-action@v2.0.0

        # Put an example of mandatory inputs here
        with:
          PROJECT_PATH: .
          REQUIREMENT_PATH: ./requirements.txt
